<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=WQSLAPTOP;Initial Catalog=LeaveON;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=10.1.10.28;Initial Catalog=LeaveON-Test;User Id=sa;Password=@Intech#123;" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=WQSLAPTOP;Initial Catalog=LeaveON;user id=sa;password=abc;" providerName="System.Data.SqlClient" />-->
    <!--<add name="LeaveONEntities" connectionString="metadata=res://*/Models.LeaveOnDataModel.csdl|res://*/Models.LeaveOnDataModel.ssdl|res://*/Models.LeaveOnDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.1.10.28;Initial Catalog=LeaveON;User Id=sa;Password=@Intech#123;&quot;" providerName="System.Data.EntityClient" />-->
    <!--for online-->
    <!--<add name="DefaultConnection" connectionString="Data Source=SQL5006.site4now.net;Initial Catalog=DB_A48388_waqasjavaid;User Id=DB_A48388_waqasjavaid_admin;Password=Therethat1;" providerName="System.Data.SqlClient" />
    <add name="LeaveONEntities" connectionString="metadata=res://*/Models.LeaveOnDataModel.csdl|res://*/Models.LeaveOnDataModel.ssdl|res://*/Models.LeaveOnDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5006.site4now.net;Initial Catalog=DB_A48388_waqasjavaid;User Id=DB_A48388_waqasjavaid_admin;Password=Therethat1;MultipleActiveResultSets=True;&quot;" providerName="System.Data.EntityClient" />-->
    <add name="LeaveONEntities" connectionString="metadata=res://*/Models.LeaveOnDataModel.csdl|res://*/Models.LeaveOnDataModel.ssdl|res://*/Models.LeaveOnDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IN01-CPU03-151\MSSQLSERVERLMS01;initial catalog=LeaveON-Test;user id=sa;password=@Intech#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>